* {
  box-sizing: border-box;
}

tab-container:not(:defined) {
  visibility: hidden;
}

body {
  background: darkslategrey;
  color: white;
  font-family: system-ui, sans-serif;
  margin: 0;
  min-height: 100vh;
}
